<div class="login-container">
  <img src=".\assets\logo.png " alt="imagen logo" class="imagen">
  <h2>CONTROL INTERNO DE DOCUMENTOS</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username" class="inputsL">Usuario:</label>
      <input type="text" id="username" class="inputL"[(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group ">
      <label for="password" class="inputsL" >Contraseña:</label>
      <input type="password" id="password" class="inputL"[(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="btn">Ingresar</button>
  </form>
  <div *ngIf="loginError" class="error-message">La contraseña o el usuario no son correctas intentalo de nuevo.</div>
</div>
