.login-container {
  display: flexbox;
  max-width: 30%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #525252;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #525252;
  text-align: center;
}
.imagen {
  display: flexbox;
  margin-left: 5%;
  margin-right: 5%;
  width: 360px;
  height: 100px;
  border-color: #464240;
  border-radius: 15px;
}
h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #ccc;
}

.form-group {
  margin-bottom: 15px;
  
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pdf-container,
.memo-container {
  width: 48%;
}
label {
  display: flexbox;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
}
.inputsL{
  text-align: center;

}

input[type="text"],
input[type="password"] {
  text-align: center;
  width: 90%;
  height: 90%;
  padding: 10px;
  border: 5px solid #413e3e;
  border-radius: 5px;
  background-color: #413e3e;
}

.no-background {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 5px; /* Ajusta el espacio entre el label y el input según tu preferencia */
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #424242;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #666464;
}

.error-message {
  margin-top: 15px;
  color: rgb(158, 16, 16);
  text-align: center;
}
