.memo-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
  display: block;
}

.form-group input[type="text"],
.form-group select,
.form-group textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pdf-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

.pdf-content-copy {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.pdf-container label {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.pdf-container input[type="checkbox"] {
  margin-right: 1px;
}

@media print {
  button {
    display: none;
  }
}

@media (max-width: 768px) {
  .memo-container {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .form-group input[type="text"],
  .form-group textarea {
    width: calc(100% - 20px);
  }
}
